#resume-nav-link{
    background-color: #DF2F22;
    border: 1px solid #DF2F22;
    padding: 0 15px;
    transition: all ease 500ms;
}
#resume-nav-link:hover{
    background-color: transparent;
    font-weight: 700;
    padding: 0 18px;
}
ol li{
    list-style: roman;
}
ol ul li{
    list-style: square;
}
a{
    transition: all ease 500ms;
    color: #DF2F22;
}
a:hover{
    text-decoration: none;
    font-weight: 700;
    color: #DF2F22;
}
body{
    font-family: 'Heebo', sans-serif;
    color: #111517;
    font-size: 16px;
    font-weight: 300;
}
h1, h2, h3, h4{
    color: #0C5D7B;
    font-weight: 700;
}
h5{
    color: rgba(12, 93, 123, 0.5);
    font-weight: 700; 
}
#menu-container{
    background-color: #111517;
    width: 100%;
    display: block;
    padding: 10px;
    height: 80px;
}
#menu-container .container{
    margin: 0 auto;
}
footer{
    padding: 40px 0 0;
    background-color: #111517;
    width: 100%;
    display: inline-flex;
}
.navbar{
    z-index: 9999;
    padding: 0;
}
.navbar-toggler{
    margin: 0;
}
.navbar-toggler{
    border-radius: 0;
}
menu{
    height: 80px;
    line-height: 40px;
}
.has-border-and-padding-top{
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.logo{
    width: 160px;
}
section{
    margin-bottom: 60px;
}
.menu-items{
    position: relative;
    justify-content: end;
}
.menu-items command{
    margin: 0 20px;
}
.home-header-area, .page-info-header{
    background-color: #111517;
}
.home-intro{
    position: relative;
    z-index: 1;
}
.skills-and-tools{
    display: flex;
}
.home-intro-text{
    position: relative;
    bottom: 0;
}
button{
    height: 40px;
    padding: 0 13px 0 13px;
    margin: 24px 0px;
    border: none;
}
.button-has-shadow{
    -webkit-box-shadow: 0px 0px 15px 2px rgba(17,21,23,0.16); 
    box-shadow: 0px 0px 15px 2px rgba(17,21,23,0.16);
}
.button-white{
    background-color: #fff;
    color: #DF2F22;
}
.button-red{
    background-color: #DF2F22;
    color: #fff;
}
.categories-section{
    background-color: #F8F8F8;
}
.two-buttons-next-to-each-other{
    margin-bottom: 1rem;
}
.category-links-buttons{
    padding: 10px 40px;
    width: 100%;
}
.category-links-buttons button{
    margin: 10px 0;
}
.skills-and-tools{
    display: flex;
}
.block-with-frame{
    border: 1px solid #DEDEDE;
    padding: 0 20px 16px;
    margin-bottom: 20px;
}
.block-with-frame-header{
    padding: 20px 0;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 30px;
    justify-content: space-between;
}
.tools-logos-block img{
    height: 40px;
    margin-right: 10px;
    position: relative;
}
.tools-logos-block img:last-child{
    margin-right: 0;;
}
.row{
    margin: 0 auto;
}
.intro-image{
    background-image: url("/images/misc/adrian-portrait.png");
    background-repeat: no-repeat;
    background-size: contain;
}
h2{
    margin-left: 30px;
}
h2::before{
    content: "";
    display: block;
    position: relative;
    top: 29px;
    left: -30px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #DF2F22;
}
.certificates-gallery{
    display: inline-table;
}
.certificates-gallery img{
    width: 100%;
}
.section-row-has-border-top{
    border-top: 1px solid #DEDEDE;
    padding-top: 60px;
}
.certificates-section{
    align-items: center;
}
.text-white p, .text-white h1, .menu-items a, .text-white h3, .text-white h4, .intro-header-quick-links a{
    color: #DEDEDE;
}
button a{
    color: #111517;
}
.button-red a{
    color: #fff;
}
.button-white a{
    color:#DF2F22;
}
button, button a{
    transition: all ease 500ms;
}
button:hover a{
    text-decoration: none;
    letter-spacing: 0.03rem;
    font-weight: 700;
}
.social-media-icons img{
    height: 30px;
    margin-right: 20px;
}
.projects-card-brief{
    background-color: #111517;
    padding: 15px;
}
.selected-projects-cards img{
    width: 100%;
}
.selected-projects-cards{
    margin-top: 40px;
}
.selected-projects-row h2{
    padding-left: 15px;
}
.category-card-label{
    background-color: #fff;
    position: absolute;
    top: 15px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 5px;
}
.projects-card-brief .category-card-label{
    position: relative;
    top: -36px;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    margin-left: -15px;
    padding-right: 5px;
    margin-bottom: -20px;
}

.page-info-header .category-card-label{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    top: 0;
}
.page-info-header h1{
    margin-bottom: 0;
}
.page-info-header .category-card-label a{
    width: auto;
}
.category-card-label a{
    color: #DF2F22;
    text-decoration: none;
    transition: all ease 500ms;
}
.category-card-label a:hover{
    font-weight: 700;
    letter-spacing: 0.03rem;
}
.category-card-label::after{
    content: "";
	position: absolute;
    top: 16px;
    right: -18px;
	width: 0; 
    height: 0; 
    border-left: 28px solid transparent;
    border-right: 28px solid #fff;
    border-top: 28px solid transparent;
    transform: rotate(-45deg);
	transition: all ease 500ms;
}
.project-details-single-card img{
    border: 1px solid rgba(17, 21, 23, 0.1);
}
.project-details-single-card .category-card-label{
    background-color: #fafafa;
    border-left: 1px solid rgba(17, 21, 23, 0.1);
}
.project-details-single-card  .category-card-label::after{
    content: "";
	position: absolute;
    top: 16px;
    right: -18px;
	width: 0; 
    height: 0; 
    border-left: 28px solid transparent;
    border-right: 28px solid #fafafa;
    border-top: 28px solid transparent;
    transform: rotate(-45deg);
	transition: all ease 500ms;
}
.selected-projects-cards .project-details-single-card{
    margin-bottom: 40px;
}
.intro-header-quick-links ul, .intro-header-additional-info ul{
    padding-left: 0;
}
.intro-header-quick-links li, .intro-header-additional-info li{
    list-style: none;
}
.projects-stages-section{
    background-color: #F8F8F8;
}
.section-has-no-margin-top{
    margin-top: 0;
}
.section-has-no-margin-bottom{
    margin-bottom: 0;
}
.projects-stages-section-content{
    display: block;
}
.stages-cards .block-with-frame{
    margin-bottom: 0;
}
.stages-cards{
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.stages-cards h5{
    margin-bottom: 0;;
}
.projects-stages-section-content h2{
    padding-left: 15px;
}
.dark-background{
    background-color: #111517;
    padding: 15px;
}
.dark-background h4{
    color: #DEDEDE;
    margin-bottom: 0;
}
.light-gray-background{
    background-color: #F8F8F8;
    padding: 15px;
}
.project-card-title{
    transition: all ease 500ms;
}
.project-card-title a:hover{
    letter-spacing: 0.03rem;
}
.design div .tools-logos-block{
    margin: 15px 0;
}
#resume-nav-link::after{
    content: url("/images/misc/external-link-icon.svg");
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.outbound-link::after{
    content: url("/images/misc/external-link-icon-red.svg");
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.footer-content{
    justify-content: flex-start;
}
.footer-content div{
    margin-bottom: 20px;
}
.footer-content.container{
    padding: 0;
}
.footer-logo{
    width: 150px;
}
.navbar-collapse.menu-items.collapse.show{
    background-color: rgba(17, 21, 23, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* height: 100vh; */
    align-content: baseline;
    padding: 0 25px;
}
.table-header-dark{
    background-color: #111517;
    color: #DEDEDE;
}
li{
    list-style-type: square;
}
.table th{
    padding: 0.75rem;
    border-top: 1px solid #DEDEDE; 
}
table tr:not(:nth-child(1)){
    border-top: 2px solid #DEDEDE;
}
.skills-tools-tables{
    display: block;
}
.personas-row{
    display: block;
    margin-top: 30px;
}
.persona-profile{
    margin-top: 15px;
    border: 1px solid #f8f8f8;
}
.persona-details-columns{
    margin-bottom: 30px;
}
.persona-type{
    background-color: #F8F8F8;
    padding: 15px;
    margin-bottom: 15px;
}
.persona-tagline{
    font-style: italic;
}
.persona-character img{
    width: inherit;
}
.image-credit{
    font-size: 14px;;
}
.carousel-inner img {
    width: 100%;
    height: 100%
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #DF2F22;
    border: 4px solid #DF2F22;
    padding: 10px;
}
#custCarousel{
    margin-top: 30px;
}
#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
}

#custCarousel .carousel-indicators li.active img {
    border: 1px solid #DEDEDE;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 100%;
}















/* Tablet and mobile */
@media only screen and (max-width: 360px){
    .header-has-logos.block-with-frame-header{
        padding-bottom: 10px;
    }
    .tools-logos-block img{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 550px){
    .intro-image{
        height: 400px;
        background-size: cover;
        margin-bottom: 40px;
    }
    .certificates-section{
        flex-direction: column-reverse;;
    }
}
@media only screen and (min-width: 551px){
    .intro-image{
        height: 600px;
        background-size: cover;
    }
}
@media only screen and (min-width: 490px){
    .block-with-frame-header{
        display: flex;
    }
}
@media only screen and (min-width: 768px){
    .block-with-frame-header{
        display: block;
    }
    .stages-cards .block-with-frame .col-md-4:first-child, .stages-cards .block-with-frame .col-md-4:nth-child(3){
        border-right: none;
    }
    .stages-cards .block-with-frame .col-md-4:first-child, .stages-cards .block-with-frame .col-md-4:nth-child(2){
        border-bottom: none;
    }
    .footer-content.container p:last-child{
        position: inherit;
        top: -8px;
    }
    .company-name-column{
        width: 40%;
    }
    th:first-child{
        border-right: 1px solid #DEDEDE;
    }
    .social-media-icons-column{
        text-align: left;
    }
    .intro-header-quick-links, .intro-header-additional-info{
        padding-left: 15px;
        border-left: 1px solid;
    }
    .persona-details-columns{
        display: flex;
    }
    .persona-character{
        border-right: 1px solid #DEDEDE;
    }
}
@media only screen and (max-width: 767px){
    .stages-cards .block-with-frame{
        border-bottom: none;
    }
    .stages-cards .block-with-frame:last-child{
        border-bottom: 1px solid #DEDEDE;
    }
    tr{
        display: grid;
    }
    .table thead th{
        border-bottom: none;
    }
}
@media only screen and (min-width: 560px){
    .category-links-buttons{
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: space-evenly;
    }
    .category-links-buttons button{
        max-width: 30%;
    }
}
/* @media only screen and (min-width: 576px){
    .menu-item-active::before{
        content: "";
        display: block;
        position: relative;
        right: -15px;
        width: 12px;
        height: 12px;
        background-color: #DF2F22;
    }
} */
@media only screen and (max-width: 767px){
    .menu-items{
        display: grid;
        text-align: right;
    }
    #resume-nav-link{
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .menu-item-active::before{
        content: "";
        display: block;
        position: relative;
        top: 25px;
        right: -15px;
        width: 12px;
        height: 12px;
        background-color: #DF2F22;
    }
}
@media only screen and (max-width: 280px) {
    .logo{
        width: 120px;
    }
}
@media only screen and (max-width: 575px){
    .social-media-icons img{
        height: 30px;
    }
    footer .logo{
        width: 110px;
    }
    footer{
        padding: 15px;
    }
}
/* END of Tablet and mobile */

/* Desktop */
@media only screen and (min-width:992px){
    .two-buttons-next-to-each-other button{
        margin-right: 10px;
    }
    .header-white-strap-behind{
        height: 160px;
        background-color: #fff;
        width: 100%;
        position: relative;
        z-index: 0;
        top: -100px;
    }
    .body-after-header{
        position: relative;
        top: -100px;
    }
    .content-has-padding-bottom{
        padding-bottom: 40px;
    }
    .two-buttons-next-to-each-other{
        position: relative;
        top: 20px;
    }
    .intro-image{
        background-size: auto;
        height: 650px;
    }
    .home-intro-text {
        position: absolute;
    }
    .block-with-frame-header{
        display: flex;
    }
    .stages-cards row{
        margin-left: 0;
        margin-right: 0;
        width: -webkit-fill-available;
    }
    .stages-cards .block-with-frame{
        border-right: none;
    }
    .stages-cards .block-with-frame:first-child, .stages-cards .block-with-frame:nth-child(2){
        border-bottom: 1px solid #DEDEDE;
    }
    .stages-cards .block-with-frame:last-child{
        border-right: 1px solid #DEDEDE;
    }
}
@media only screen and (min-width: 800px){  
    button:hover a{
        padding-right: 18px;
    }
    button a::after{
        content: '→';
        position: absolute;
        opacity: 0;  
        transition: 0.5s;
        padding-left: 6px;
    }
    button:hover a::after{
        opacity: 1;
    }
    .intro-header-quick-links a{
        opacity: 0.7;
        transition: all ease 500ms;
    }
    .intro-header-quick-links a:hover{
        opacity: 1;
    }
    .intro-header-quick-links a::before, .stages-cards a::before{
        content: '→';
        position: relative;
        opacity: 0;
        margin-right: -15px;
        transition: all ease 500ms;
        bottom: 10px;
        transform: rotate(90deg);
        display: inline-block;
    }
    .intro-header-quick-links a:hover::before, .stages-cards a:hover::before{
        opacity: 1;
        margin-right: 0;
        bottom: 0;
    }
}
@media only screen and (min-width: 992px){
    .selected-projects-cards, .stages-cards{
        display: flex;
    }
}
@media only screen and (max-width: 1199px){
    .selected-projects-cards button{
        width: 100%;
        margin: 10px 0 0;
    }
    .selected-projects-cards .projects-card-brief div:last-child{
        margin-bottom: 5px;
    }
}

/* END Desktop */
@media only screen and (max-width:991px){
    .project-details-single-card .button-white{
        background-color: transparent;
    }
}